.ActuacionesConsOrd {
    color: $primary-color;
    background-color: $primary-color-background;
    height: 100%;
    width: 100%;
    button {
        &.react-bs-table-csv-btn {
            color: $primary-color-text;
            background-color: $primary-color;
            border-color: $primary-color;
        }
    }
    .table {
        color: $secondary-color;
    }
}