/*------colors--------*/

$primary-color: #F58121;
$primary-color-light1: #f4974a;
$primary-color-light2: #f4ae75;
$primary-color-light3: #f3c59e;
$primary-color-light4: #f3dcc9;
$primary-color-dark: #c4671a;
$secondary-color: #273238;
$secondary-color-light1: #37474E; 
$secondary-color-light2: #455A64;
$secondary-color-light3: #607D8B;
$secondary-color-light4: #8FA4AE;
$secondary-color-light5: #CFD8DC;
$secondary-color-light6: #ECEFF1;
$secondary-color-light7: #F5F7F8;
$success: #11C65B;
$error: #D0021B;
$warning: #F2C328;
$info: #4CA3F7;
$primary-color-text: #fff;
$primary-color-background: #fff;

/*--------------------*/